<div [formGroup]="form" class="flex flex-col gap-2 md:w-3xl">
  <h1>Profil utilisateur</h1>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" placeholder="Entrez votre nom" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" placeholder="Entrez votre prénom" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="exemple@mail.com" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de naissance</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate" />
    <mat-hint>JJ/MM/AAAA</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Adresse</mat-label>
    <input matInput formControlName="address" placeholder="Adresse complète" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rôle</mat-label>
    <mat-select formControlName="role">
      <mat-option value="utilisateur">Utilisateur (par défaut)</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" (click)="saveProfile()" mat-flat-button color="primary" [disabled]="!form.valid">Enregistrer</button>
</div>
