<div [formGroup]="form" class="flex flex-col gap-2 md:w-3xl">
  <h1>Ajouter une formation au catalogue</h1>
  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" placeholder="Titre de la formation"/>
    @if (isTitleTooLong()) {
      <mat-error>Titre trop long - max 100 caractères</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu</mat-label>
    <input matInput formControlName="location" placeholder="Lieu"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Horaire</mat-label>
    <input matInput formControlName="time" placeholder="HH:MM - HH:MM"/>
    <mat-hint>Exemple : 18:00 - 21:00</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input matInput formControlName="price" placeholder="Prix"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre de place Maximum</mat-label>
    <input matInput formControlName="placeMax"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="Description"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput formControlName="tags" placeholder="Tags"/>
    <mat-hint>Tags séparés par une virgule</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Distance</mat-label>
    <input matInput type="number" formControlName="distance" placeholder="Distance"/>
  </mat-form-field>


  <button type="submit" (click)="addFormation()" mat-button [disabled]="!form.valid">Ajouter</button>
</div>
